<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href='/css/dev.css'>
</head>


<body>
    {{>header}}

    <h1>{{ name }}</h1>

    <p>we are using mapbox and geocode to fetch weather data</p>

    {{>footer}}
</body>


</html>